{{ form_start(projectForm) }}

    {{ form_row(projectForm.name) }}
    {{ form_row(projectForm.description) }}
    {{ form_row(projectForm.comment) }}

    <button type="submit" class="btn-form">
        {{ button_label | default('Ajouter') }}
    </button>

{{ form_end(projectForm) }}
