<table id="data-table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Comment</th>
    </tr>

    {% for project in projects %}
        <div class="list-project">
            <tr>
                <td>{{project.id}}</td>
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{project.comment}}</td>
                <td><a href = "{{path("edit_project", {id: project.id})}}"> Modifie </a></td>
                <td><a href = "{{path("delete_project", {id: project.id})}}" class="delete-link"> Delete </a></td>
            <tr>
        </div>
    {% endfor %}

</table>
{% if app.session.flashbag.has('warning') %}
    <script>
        // Sélectionner tous les liens de suppression
        document.querySelectorAll('.delete-link').forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault(); // Empêcher la redirection initiale

                // Afficher la confirmation si le flash warning existe
                var confirmDelete = confirm("{{ app.session.flashbag.get('warning')[0] }}");

                // Si l'utilisateur confirme, ajouter ?confirm=yes à l'URL et rediriger
                if (confirmDelete) {
                    // Redirection vers la suppression avec confirmation
                    window.location.href = this.href + '?confirm=yes';
                }
            });
        });
    </script>
{% endif %}