{{ form_start(sampleForm) }}

    {{ form_row(sampleForm.name) }}
    {{ form_row(sampleForm.type) }}
    {{ form_row(sampleForm.date) }}
    {{ form_row(sampleForm.country) }}
    {{ form_row(sampleForm.city) }}
    {{ form_row(sampleForm.localisation) }}
    {{ form_row(sampleForm.underLocalisation) }}
    {{ form_row(sampleForm.gps) }}
    {{ form_row(sampleForm.environment) }}
    {{ form_row(sampleForm.other) }}

    {# nouveaux champs #}
    {{ form_row(sampleForm.bioSample) }}
    {{ form_row(sampleForm.farmLocation) }}
    {{ form_row(sampleForm.hospitalSampleType) }}
    {{ form_row(sampleForm.hospitalSite) }}
    {{ form_row(sampleForm.hospitalWard) }}
    {{ form_row(sampleForm.patientContextType) }}
    {{ form_row(sampleForm.source) }}

    {{ form_row(sampleForm.description) }}
    {{ form_row(sampleForm.comment) }}

    <button type="submit" class="btn-form">
        {{ button_label | default('Add sample') }}
    </button>

{{ form_end(sampleForm) }}