
{{ form_start(sequencingForm) }}

    {{ form_row(sequencingForm.name) }}
    {{ form_row(sequencingForm.date) }}
    {{ form_row(sequencingForm.file) }}
    {{ form_row(sequencingForm.description) }}
    {{ form_row(sequencingForm.comment) }}

    <button type="submit">{{ button_label | default('Ajouter') }} </button>

{{ form_end(sequencingForm) }}
