
{{ form_start(collecForm) }}

    {{ form_row(collecForm.name) }}
    {{ form_row(collecForm.description) }}
    {{ form_row(collecForm.comment) }}

    <button type="submit" class="btn-form">
        {{ button_label | default('Ajouter') }}
    </button>

{{ form_end(collecForm) }}
