<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

    </head>

<body>
    <div class="vertical-menu">
        <ul>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <li><a href="{{ absolute_url(path('page_users')) }}"> <i class="fa-solid fa-user"></i> User</a></li>
            {% endif %}
            <li><a href="{{ absolute_url(path('page_strains')) }}"><i class="fa-solid fa-bacterium"></i> Strain</a></li>
            <li><a href="{{ absolute_url(path('page_samples')) }}"><i class="fa-solid fa-location-dot"></i> Prelevement</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle"><i class="fa-solid fa-file"></i> Components</a>
                <ul class="dropdown-content">
                    <li><a href="{{ path('page_projects') }}">Project</a></li>
                    <li><a href="{{ path('page_collecs') }}">Collection</a></li>
                    <li><a href="{{ path('page_plasmyds') }}">Plasmyd</a></li>
                    <li><a href="{{ path('page_drugs') }}">Drug Resistance</a></li>
                    <li><a href="{{ path('page_publications') }}">Publication</a></li>
                </ul>
            </li>
            <li><a href="{{ absolute_url(path('strain_search')) }}"><i class="fa-solid fa-magnifying-glass"></i> Check Parents</a></li>
            <li><a href="{{ path('app_logout') }}">Log Out</a></li>
            <li class="user-info">
                user: {{ app.user.firstname }} <br>
                {% if app.user.roles|length > 0 %}
                    role: {{ app.user.roles|last }}
                {% else %}
                    role: aucun
                {% endif %}
            </li>
        </ul>
    </div>
</body>


</html>