<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

    </head>

{% import 'macros/navbar.html.twig' as nav %}

{% set currentRoute = app.request.attributes.get('_route') %}

{% set componentsRoutes = [
    'page_projects',
    'page_collecs',
    'page_plasmyds',
    'page_drugs',
    'page_publications',
    'page_phenotypetypes'
] %}

<body>
    <div class="vertical-menu">
        <ul>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                {{ nav.navItem(currentRoute, 'page_users', 'User', 'fa-solid fa-user', true) }}
            {% endif %}

            {{ nav.navItem(currentRoute, 'page_strains', 'Strain', 'fa-solid fa-bacterium', true) }}
            {{ nav.navItem(currentRoute, 'page_samples', 'Prelevement', 'fa-solid fa-location-dot', true) }}

            <li class="dropdown {{ currentRoute in componentsRoutes ? 'active' }}">
                <a class="dropdown-toggle"><i class="fa-solid fa-file"></i> Components</a>
                <ul class="dropdown-content">
                    {{ nav.navItem(currentRoute, 'page_projects', 'Project', '', false) }}
                    {{ nav.navItem(currentRoute, 'page_collecs', 'Collection', '', false) }}
                    {{ nav.navItem(currentRoute, 'page_plasmyds', 'Plasmid', '', false) }}
                    {{ nav.navItem(currentRoute, 'page_drugs', 'Drug Resistance', '', false) }}
                    {{ nav.navItem(currentRoute, 'page_publications', 'Publication', '', false) }}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        {{ nav.navItem(currentRoute, 'page_phenotypetypes', 'Phenotype', '', true) }}
                    {% endif %}
                </ul>
            </li>

            {{ nav.navItem(currentRoute, 'strain_search', 'Check Parents', 'fa-solid fa-magnifying-glass', true) }}
            {{ nav.navItem(currentRoute, 'page_strains_bin', 'Bin', 'fa-solid fa-trash', true) }}

            <li>
                <a href="{{ path('app_logout') }}">Log Out</a>
            </li>

            <li class="user-info">
                user: {{ app.user.firstname }} <br>
                {% if app.user.roles|length > 0 %}
                    role: {{ app.user.roles|first }}
                {% else %}
                    role: aucun
                {% endif %}
            </li>
        </ul>
    </div>
</body>


</html>