{{ form_start(userForm) }}

    {{ form_row(userForm.firstname) }}
    {{ form_row(userForm.lastname) }}
    {{ form_row(userForm.email) }}
    {{ form_row(userForm.roles) }}
    {{ form_row(userForm.plainPassword) }}   

    <button type="submit" class="btn-form">
        {{ button_label | default('Add user') }}
    </button>

{{ form_end(userForm) }}
