<!-- ✅ Font Awesome (optionnel pour icônes) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<!-- ✅ DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.3.1/css/rowGroup.dataTables.min.css" />

<!-- ✅ jQuery (OBLIGATOIRE avant tout DataTables) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- ✅ DataTables core JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- ✅ DataTables Plugins JS -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.3.1/js/dataTables.rowGroup.min.js"></script>

<!-- ✅ Dépendances pour export Excel/PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<div id="data-table-wrapper" class="sticky-wrapper">
    <form id="multi-action-form" method="post">
        <table id="data-table" class="display nowrap" style="visibility: hidden;"> 
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all" /></th>
                    <th class="id" data-column="id">ID</th>
                    <th class="name" data-column="name">Name</th>
                    <th data-column="date">Date</th>
                    <th data-column="specie">Species</th>
                    <th data-column="gender">Gender</th>
                    <th data-column="sample">Sample</th>
                    <th data-column="genotype">Genotype</th>
                    <th data-column="plasmyd">Plasmid</th>
                    <th data-column="storage">Storage</th>
                    <th data-column="parent">Parent</th>
                    <th data-column="project">Project</th>
                    <th data-column="collec">Collection</th>
                    <th data-column="drug">Drug Resistance</th>
                    <th data-column="phenotype">Phenotype</th>
                    <th data-column="sequencing">File Sequencing</th>
                    <th data-column="publication">Publication</th>
                    <th class="creator">Creator</th>
                    <th data-column="description">Description</th>
                    <th data-column="comment">Comment</th>
                    <th data-column="null"> </th> 
                    <th data-column="null"> </th> 
                    <th data-column="null"> </th>
                </tr>
            </thead>
            <tbody>
                {% if strains is empty %}
                    <tr id="no-data-row">
                        {% for i in 1..23 %}
                            {% if i == 1 %}
                                <td colspan="23" style="text-align:center; font-style:italic; color:gray;" data-not-found="true">No data found</td>
                            {% else %}
                                {# Ces td sont ignorés par DataTables mais nécessaires pour le comptage #}
                                <td style="display:none"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
                {% for strain in strains %}
                        <tr id="strain-{{ strain.id }}" class="list-strain">
                            <td>
                                <input type="checkbox" name="selected_strain[]" value="{{ strain.id }}" class="select-checkbox" />
                            </td>
                            <td class="id">{{strain.id}}</td>
                            <td class="name">{{ strain.nameStrain is not null ? strain.nameStrain : '' }}</td>
                            <td class="date">
                            {% if strain.date is not null %}
                                {{strain.date|date("d/m/Y")}}
                            {% else %}
                                --
                            {% endif %}
                            </td>

                            <td class="specie">
                            {% if strain.specie is not null %}
                                {{strain.specie}}
                            {% else %}
                                --
                            {% endif %}
                            </td>

                            <td class="gender">
                            {% if strain.gender is not null %}
                                {{strain.gender}}
                            {% else %}
                                --
                            {% endif %}
                            </td>

                            <td class="sample clicable" 
                                data-info='
                                        id: {{ strain.prelevement ? strain.prelevement.id : "--" }}
                                        name: {{ strain.prelevement ? strain.prelevement.name : "--" }}
                                        type: {{ strain.prelevement ? strain.prelevement.type : "--" }}
                                        created : {{ strain.prelevement ? strain.prelevement.date|date("d/m/Y") : "--" }}
                                        
                                        country : {{ strain.prelevement ? strain.prelevement.country : "--" }}
                                        city : {{ strain.prelevement ? strain.prelevement.city : "--" }}
                                        localisation : {{ strain.prelevement ? strain.prelevement.localisation : "--" }}
                                        under-localisation : {{ strain.prelevement ? strain.prelevement.underLocalisation : "--" }}
                                        environment : {{ strain.prelevement ? strain.prelevement.environment : "--" }}
                                    '>
                                {{ strain.prelevement ? strain.prelevement.name : '--' }}
                            </td>

                            <td class="genotype clicable" data-info='
                                        genotype: {{ strain.genotype ? strain.genotype.type : '--'}}
                                        description: {{ strain.descriptionGenotype ? strain.descriptionGenotype : "--" }}
                                        info: {{ strain.infoGenotype ? strain.infoGenotype : "--" }}'>
                            {% if strain.genotype is not null %}
                                {{strain.genotype.type}} <br>
                                {% if strain.descriptionGenotype is not empty %}
                                    {% set desc = strain.descriptionGenotype ?: strain.descriptionGenotype %}
                                    {% set maxLength = 25 %}

                                    {% if desc|length > maxLength %}
                                        {% set prefix = desc|slice(0, 20) %}
                                        {{ prefix ~ '...'}}
                                    {% else %}
                                        {{ desc }}
                                    {% endif %} 
                                {% endif %}<br>
                                {{ strain.infoGenotype ?: strain.infoGenotype }}
                            {% else %}
                                --
                            {% endif %}
                            </td>

                            <td>
                                <div class="sub-cell plasmyd clicable" data-info='
                                        name: {{ strain.plasmyd|first ? strain.plasmyd|first.namePlasmyd : '--'}}
                                        type: {{ strain.plasmyd|first ? strain.plasmyd|first.type : "--" }}
                                        description: {{ strain.plasmyd|first ? strain.plasmyd|first.description : "--" }}
                                        comment: {{ strain.plasmyd|first ? strain.plasmyd|first.comment : "--" }}'>
                                    {% if strain.plasmyd is not empty %}
                                        {{strain.plasmyd[0].namePlasmyd}}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>

                                {% if (strain.plasmyd is not empty)%}
                                    {% set maxLength = strain.plasmyd|length %}
                                    {% if maxLength > 1 %} 
                                        {% for i in 1..(maxLength - 1) %}
                                            <div id="sub-cell-plasmy_{{i}}"
                                                class="sub-cell plasmyd clicable"
                                                data-info='
                                                    name: {{ strain.plasmyd[i] is defined and strain.plasmyd[i] ? strain.plasmyd[i].namePlasmyd : '--'}}
                                                    type: {{ strain.plasmyd[i] is defined and strain.plasmyd[i] ? strain.plasmyd[i].type : "--" }}
                                                    description: {{ strain.plasmyd[i] is defined and strain.plasmyd[i] ? strain.plasmyd[i].description : "--" }}
                                                    comment: {{ strain.plasmyd[i] is defined and strain.plasmyd[i] ? strain.plasmyd[i].comment : "--" }}'
                                            >
                                            {{ strain.plasmyd[i] is defined ? strain.plasmyd[i].namePlasmyd : '--' }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %} 
                            </td>
                            

                            <td>
                                <div class="sub-cell storage clicable"
                                    data-info='
                                        room: {{ strain.storage|first ? strain.storage|first.room: '--'}}
                                        fridge: {{ strain.storage|first ? strain.storage|first.fridge : "--" }}
                                        shelf: {{ strain.storage|first ? strain.storage|first.shelf : "--" }}
                                        rack: {{ strain.storage|first ? strain.storage|first.rack : "--" }}
                                        volume: {{ strain.storage|first ? strain.storage|first.volume : "--" }}
                                        container type : {{ strain.storage|first ? strain.storage|first.containerType : "--" }}
                                        container position : {{ strain.storage|first ? strain.storage|first.containerPosition : "--" }}'
                                    > 
                                    {% if strain.storage is not empty %}
                                        room : {{strain.storage[0].room}} 
                                        fridge:  {{strain.storage[0].fridge}} 
                                        shelf:  {{strain.storage[0].shelf}} <br>
                                        rack: {{strain.storage[0].rack}} 
                                        volume: {{strain.storage[0].volume}} 
                                        type: {{ strain.storage[0].containerType }}<br>
                                        position: {{ strain.storage[0].containerPosition }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>

                                {% if (strain.storage is not empty)%}
                                    {% set maxLength = strain.storage|length %}
                                    {% if maxLength > 1 %} 
                                        {% for i in 1..(maxLength - 1) %}
                                            <div id="sub-cell-storage_{{i}}"
                                                class="sub-cell storage clicable"
                                                data-info='
                                                room: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].room: '--'}}
                                                fridge: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].fridge : "--" }}
                                                shelf: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].shelf : "--" }}
                                                rack: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].rack : "--" }}
                                                volume: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].volume : "--" }}
                                                container type : {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].containerType : "--" }}
                                                container position : {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].containerPosition : "--" }}'
                                            >
                                                {% if strain.storage[i] is defined %}
                                                    room : {{strain.storage[i].room}} 
                                                    fridge:  {{strain.storage[i].fridge}} 
                                                    shelf:  {{strain.storage[i].shelf}} <br>
                                                    rack: {{strain.storage[i].rack}} 
                                                    volume: {{strain.storage[i].volume}} 
                                                    type: {{ strain.storage[i].containerType }}<br>
                                                    position: {{ strain.storage[i].containerPosition }}
                                                {% else %}
                                                    --
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td class="parent">
                                {% if strain.parentStrain %}
                                    {{ strain.parentStrain.nameStrain }}<br>
                                    {{ strain.parentStrain.id }}
                                {% else %}
                                  --  
                                {% endif %}
                            </td>
                            
                            <td>
                                <div class="sub-cell project">
                                    {% if strain.project is not empty %}
                                        {{strain.project[0].name}}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>

                                {% if (strain.project is not empty)%}
                                    {% set maxLength = strain.project|length %}
                                    {% if maxLength > 1 %} 
                                        {% for i in 1..(maxLength - 1) %}
                                            <div id="sub-cell-project_{{i}}" class="sub-cell project">
                                                {{ strain.project[i] is defined ? strain.project[i].name : '--' }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td>
                                <div class="sub-cell collec">
                                    {% if strain.collec is not empty %}
                                        {{strain.collec[0].name}}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>

                                {% if (strain.collec is not empty)%}
                                    {% set maxLength = strain.collec|length %}
                                    {% if maxLength > 1 %} 
                                        {% for i in 1..(maxLength - 1) %}
                                            <div id="sub-cell-collec_{{i}}" class="sub-cell collec">
                                                {{ strain.collec[i] is defined ? strain.collec[i].name : '--' }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td>
                                <div class="sub-cell drugResistanceOnStrain clicable" 
                                    data-info='
                                        name: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.drugResistance.name  : '--'}}
                                        concentration: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.concentration : '--'}}
                                        resistant: {{ strain.drugResistanceOnStrain|first ? (strain.drugResistanceOnStrain|first.resistant ? 'yes' : 'no') : '--' }}
                                        comment: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.comment   : '--'}}
                                        description: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.description  : '--'}}
                                        file: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.nameFile : '--'}}'                       
                                    data-file='{{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.nameFile : '--'}}'
                                >
                                    {% if strain.drugResistanceOnStrain is not empty %}
                                        {{strain.drugResistanceOnStrain[0].drugResistance.name}} <br>
                                        {{strain.drugResistanceOnStrain[0].concentration}}
                                        {% if strain.drugResistanceOnStrain[0].resistant == 1 %}
                                            <a class="resistant-display-red"> resistante : &#9888; </a>
                                        {% else %}
                                            <a class="resistant-display-green"> sensible : &#x2713; </a>
                                        {% endif %}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>  

                                {% if (strain.drugResistanceOnStrain is not empty)%}
                                    {% set maxLength = strain.drugResistanceOnStrain|length %}
                                    {% if maxLength > 1 %} 
                                        {% for i in 1..(maxLength - 1) %}
                                            <div id="sub-cell-drugResistanceOnStrain_{{i}}"
                                                class="sub-cell drugResistanceOnStrain clicable"
                                                data-info='
                                                    name: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? strain.drugResistanceOnStrain[i].drugResistance.name  : '--'}}
                                                    concentration: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? strain.drugResistanceOnStrain[i].concentration : '--'}}
                                                    resistant: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? (strain.drugResistanceOnStrain[i].resistant  ? 'yes' : 'no') : '--' }}
                                                    comment: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? strain.drugResistanceOnStrain[i].comment  : '--'}}
                                                    description: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? strain.drugResistanceOnStrain[i].description  : '--'}}
                                                    file: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i].nameFile is defined ? strain.drugResistanceOnStrain[i].nameFile : '--' }}'
                                                data-file='{{ (strain.drugResistanceOnStrain|length > i and strain.drugResistanceOnStrain[i].nameFile) ? strain.drugResistanceOnStrain[i].nameFile : "--" }}'
                                            > 
                                                {{ strain.drugResistanceOnStrain[i] is defined ? strain.drugResistanceOnStrain[i].drugResistance.name : '' }} <br>
                                                {{ strain.drugResistanceOnStrain[i] is defined ? strain.drugResistanceOnStrain[i].concentration : '' }}
                                                {% if strain.drugResistanceOnStrain[i] is defined %}
                                                    {% if strain.drugResistanceOnStrain[i].resistant == 1 %}
                                                        <a class="resistant-display-red"> resistante : &#9888; </a>
                                                    {% else %}
                                                        <a class="resistant-display-green"> sensible : &#x2713; </a>
                                                    {% endif %}
                                                {% else %}
                                                    --
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td>
                                <div class="sub-cell phenotype clicable" 
                                    data-info='
                                            phenotype: {{ strain.phenotype|first ? strain.phenotype|first.phenotypeType.type : '--'}}
                                            technique: {{ strain.phenotype|first ? strain.phenotype|first.technique : "--" }}
                                            mesure: {{ strain.phenotype|first ? strain.phenotype|first.mesure : "--" }}
                                            date: {{ strain.phenotype|first ? strain.phenotype|first.date|date('d/m/Y') : "--" }}
                                            file: {{ strain.phenotype|first ? strain.phenotype|first.fileName : "--" }}'
                                            data-file='{{ strain.phenotype|first ? strain.phenotype|first.fileName : '--'}}'
                                >
                                    {% if strain.phenotype is not empty %}
                                        {{ strain.phenotype[0].phenotypeType.type }} <br>
                                        {{strain.phenotype[0].mesure}}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>

                                {% if (strain.phenotype is not empty)%}
                                    {% set maxLength = strain.phenotype|length %}
                                    {% if maxLength > 1 %} 
                                        {% for i in 1..(maxLength - 1) %}
                                            <div id="sub-cell-phenotype_{{i}}"
                                                class="sub-cell phenotype clicable"
                                                data-info='
                                            phenotype: {{ (strain.phenotype|length > i) ? strain.phenotype[i].phenotypeType.type : "--" }}
                                            technique: {{ (strain.phenotype|length > i) ? strain.phenotype[i].technique : "--" }}
                                            mesure: {{ (strain.phenotype|length > i) ? strain.phenotype[i].mesure : "--" }}
                                            date: {{ (strain.phenotype|length > i) ? strain.phenotype[i].date|date('d/m/Y') : "--" }}
                                            file: {{ (strain.phenotype|length > i and strain.phenotype[i].fileName) ? strain.phenotype[i].fileName : "--" }}'
                                            data-file='{{ (strain.phenotype|length > i and strain.phenotype[i].fileName) ? strain.phenotype[i].fileName : "--" }}'
                                            >
                                                {% if strain.phenotype|length > i %}
                                                    {{ strain.phenotype[i].phenotypeType.type }} <br>
                                                    {{strain.phenotype[i].mesure}}                           
                                                {% else %}
                                                    --
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            
                            <td>
                                <div class="sequencing clicable" 
                                    data-info='
                                            date : {{ strain.methodSequencing|first ? strain.methodSequencing|first.date|date('d/m/Y')  : '--'}}
                                            method : {{ strain.methodSequencing|first ? strain.methodSequencing|first.name  : '--'}}
                                            file : {{ strain.methodSequencing|first ? strain.methodSequencing|first.nameFile  : '--'}}'
                                    data-file='{{ strain.methodSequencing|first ? strain.methodSequencing|first.nameFile : '--'}}'
                                >
                                    {% if strain.methodSequencing is not empty %}
                                        {{ strain.methodSequencing[0].name }} <br>
                                        {% set nameFile = strain.methodSequencing[0].nameFile ?: strain.methodSequencing[0].nameFile %}
                                        {% set maxLength = 15 %}

                                        {% if nameFile|length > maxLength %}
                                            {% set prefix = nameFile|slice(0, 12) %}
                                            {% set suffix = nameFile|slice(-10) %}
                                            {{ prefix ~ '...' ~ suffix }}
                                        {% else %}
                                            {{ nameFile }}
                                        {% endif %} <br>
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>

                                 {% if strain.methodSequencing is not empty %}
                                    {% set seqLength = strain.methodSequencing|length %}
                                    {% if seqLength > 1 %}
                                        {% for i in 1..(seqLength - 1) %}
                                            {% set seqItem = strain.methodSequencing[i] %}
                                            <div id="sub-cell-sequencing_{{ i }}"
                                                class="sub-cell sequencing clicable"
                                                data-info='
                                                    date : {{ seqItem.date is defined and seqItem.date ? seqItem.date|date('d/m/Y') : '--' }}
                                                    method : {{ seqItem.name is defined and seqItem.name ? seqItem.name : '--' }}
                                                    file : {{ seqItem.nameFile is defined and seqItem.nameFile ? seqItem.nameFile : '--' }}'
                                                data-file='{{ seqItem.nameFile is defined ? seqItem.nameFile : "--" }}'>
                                                
                                                {{ seqItem.name is defined ? seqItem.name : '' }} <br>
                                                
                                                {% if seqItem.nameFile is defined %}
                                                    {% set fileName = seqItem.nameFile %}
                                                    {% set displayMax = 10 %}
                                                    {% if fileName|length > displayMax %}
                                                        {% set prefix = fileName|slice(0, 12) %}
                                                        {% set suffix = fileName|slice(-10) %}
                                                        {{ prefix ~ '...' ~ suffix }}
                                                    {% else %}
                                                        {{ fileName }}
                                                    {% endif %}
                                                    <br>
                                                {% else %}
                                                    --
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}                        
                            </td>

                            <td>
                                <div class="publication clicable" 
                                    data-info='
                                            id: {{ strain.publication|first ? strain.publication|first.id  : '--'}}
                                            URL: {{ strain.publication|first   ? strain.publication|first.articleURL  : "--" }}
                                            DOI: {{ strain.publication|first  ? strain.publication|first.DOI  : "--" }}
                                            title: {{ strain.publication|first    ? strain.publication|first.title  : "--" }}
                                            autor: {{ strain.publication|first    ? strain.publication|first.autor : "--" }}
                                            year: {{ strain.publication|first  ? strain.publication|first.year  : "--" }}'
                                >
                                    {% if strain.publication is not empty %}
                                        {{strain.publication[0].title}} <br>
                                        {{strain.publication[0].autor}} <br>
                                        {{strain.publication[0].year}}
                                    {% else %}
                                        --
                                    {% endif %}
                                </div>

                                {% if (strain.publication is not empty)%}
                                    {% set maxLength = strain.publication|length %}
                                    {% if maxLength > 1 %} 
                                        {% for i in 1..(maxLength - 1) %}
                                            <div id="sub-cell-publication_{{i}}"
                                                class="sub-cell publication clicable"
                                                data-info='
                                            id: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].id  : '--'}}
                                            URL: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].articleURL  : "--" }}
                                            DOI: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].DOI  : "--" }}
                                            title: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].title  : "--" }}
                                            autor: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].autor : "--" }}
                                            year: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].year  : "--" }}'
                                            > 
                                                {% if strain.publication[i] is defined %}
                                                    {{ strain.publication[i].title }} <br>
                                                    {{ strain.publication[i].autor }} <br>
                                                    {{ strain.publication[i].year }}
                                                {% else %}
                                                    --
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td class="createdBy">
                                {% if strain.createdByName is not null %}
                                    {{strain.createdByName}}
                                {% else %}
                                    --
                                {% endif %}
                            </td>

                            <td class="description clicable" data-info='
                                        {{ strain.description}}'
                                >
                                {% if strain.description is not null %}
                                    {% set description = strain.description ?: strain.description %}
                                    {% set maxLength = 10 %}

                                    {% if description|length > maxLength %}
                                        {% set prefix = description|slice(0, 8) %}
                                        {{ prefix ~ '...'}}
                                    {% else %}
                                        {{ description }}
                                    {% endif %} <br>
                                {% else %}
                                    --
                                {% endif %}
                            </td>

                            <td class="comment clicable" data-info='
                                        {{ strain.comment}}'
                                >
                                {% if strain.comment is not null %}
                                    {% set comment = strain.comment %}
                                    {% set maxLength = 10 %}
                                    {% if comment|length > maxLength %}
                                        {% set prefix = comment|slice(0, 8) %}
                                        {{ prefix ~ '...' }}
                                    {% else %}
                                        {{ comment }}
                                    {% endif %}
                                {% else %}
                                    --
                                {% endif %}
                            </td>

                            {% if is_bin == false %}
                                <td>
                                    <a href="{{ path('duplicate_strain', {id: strain.id}) }}" class="button-crud" title="Copy">
                                        <i class="fa-solid fa-copy"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('edit_strain', {
                                        id: strain.id,
                                        filter: app.request.get('filter', app.request.get('query', 'all'))
                                    }) }}"
                                        class="button-crud" title="Modifie">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('archive_strain', {id: strain.id}) }}" class="button-crud" title="Delete" onclick="return confirm('Do you really want to delete ?');">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="{{ path('restore_strain', {id: strain.id}) }}" class="button-crud button-restore" title="Restaurer">
                                        <i class="fa-solid fa-undo"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('delete_strain', {id: strain.id}) }}" class="button-crud button-danger" title="Supprimer définitivement" onclick="return confirm('Do you really want to delete ? This cant be undone');">
                                        <i class="fa-solid fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    <a class="button-crud button-ghost" aria-hidden="true" tabindex="-1" title="">
                                        <i class="fa-solid fa-ghost" aria-hidden="true"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="hidden" name="action" value="" />
        <div class="table-action-bar">
            <button id="btn-delete-multiple"
                    type="submit"
                    form="multi-action-form"
                    formaction="{{ path('archive_multiple_strains') }}"
                    onclick="document.getElementById('multi-action-form').elements['action'].value='archive'"
                    class="btn btn-danger">
            Delete selected
            </button>
        </div>
    </form>
</div>

<div id="infoPopup" class="hidden">
    <h3 id="popupTitle"></h3>
    <p id="popupDetails"></p>
    <a id="popupDownload" href="#" style="display: none; padding: 5px 10px; background: blue; color: white; text-decoration: none; border-radius: 5px;">
        Download
    </a>
</div>

{% if app.session.flashbag.has('warning') %}
<script>
    document.querySelectorAll('.delete-link').forEach(function(link) {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            var confirmDelete = confirm("{{ app.session.flashbag.get('warning')[0] }}");
            if (confirmDelete) {
                window.location.href = this.href + '?confirm=yes';
            }
        });
    });
</script>
{% endif %}

