<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<div id="data-table-wrapper sticky-wrapper">
    <table id="data-table" class="display" style="visibility: hidden;"> {# Ajout de la classe 'display' pour DataTables #}
        <thead>
            <tr>
                <th class="id" data-column="id">ID</th>
                <th class="name" data-column="name">Name</th>
                <th data-column="date">Date</th>
                <th data-column="specie">Specie</th>
                <th data-column="gender">Gender</th>
                <th data-column="sample">Sample</th>
                <th data-column="genotype">Genotype</th>
                <th data-column="plasmyd">Plasmyd</th>
                <th data-column="storage">Storage</th>
                <th data-column="parent">Parent</th>
                <th data-column="project">Project</th>
                <th data-column="collec">Collection</th>
                <th data-column="drug">Drug Resistance</th>
                <th data-column="transformability">Transformability</th>
                <th data-column="sequencing">File Sequencing</th>
                <th data-column="publication">Publication</th>
                <th class="creator">Creator</th>
                <th data-column="description">Description</th>
                <th data-column="comment">Comment</th>
                <th data-column="null"> </th> {# Duplicate #}
                <th data-column="null"> </th> {# Modifie #}
                <th data-column="null"> </th> {# x #}
            </tr>
        </thead>

        <tbody>
            {% if strains is empty %}
                <tr>
                    <td class="no-data">No strains found.</td> {# Correction du colspan #}
                </tr>
            {% endif %}
            {% for strain in strains %}
                <tr class="list-strain"> 
                    {# MODIFICATION ICI : Changement de <th> à <td> pour ID et Name #}
                    <td class="id">{{strain.id}}</td>
                    <td class="name">{{ strain.nameStrain is not null ? strain.nameStrain : '--' }}</td>
                    <td class="date">
                    {% if strain.date is not null %}
                        {{strain.date|date("d/m/Y")}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="specie">
                    {% if strain.specie is not null %}
                        {{strain.specie}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="gender">
                    {% if strain.gender is not null %}
                        {{strain.gender}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="sample" data-info='
                                id: {{ strain.prelevement ? strain.prelevement.id : "--" }}
                                name: {{ strain.prelevement ? strain.prelevement.name : "--" }}
                                type: {{ strain.prelevement ? strain.prelevement.type : "--" }}
                                created : {{ strain.prelevement ? strain.prelevement.date|date("d/m/Y") : "--" }}
                                
                                country : {{ strain.prelevement ? strain.prelevement.country : "--" }}
                                city : {{ strain.prelevement ? strain.prelevement.city : "--" }}
                                localisation : {{ strain.prelevement ? strain.prelevement.localisation : "--" }}
                                under-localisation : {{ strain.prelevement ? strain.prelevement.underLocalisation : "--" }}
                                environment : {{ strain.prelevement ? strain.prelevement.environment : "--" }}
                            '>
                        {{ strain.prelevement ? strain.prelevement.name : '--' }}
                    </td>

                    <td class="genotype" data-info='
                                genotype: {{ strain.genotype ? strain.genotype.type : '--'}}
                                description: {{ strain.descriptionGenotype ? strain.descriptionGenotype : "--" }}'>
                    {% if strain.genotype is not null %}
                        {{strain.genotype.type}} <br>
                        {{strain.descriptionGenotype}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="plasmyd" 
                        data-info='
                                name: {{ strain.plasmyd|first ? strain.plasmyd|first.namePlasmyd : '--'}}
                                type: {{ strain.plasmyd|first ? strain.plasmyd|first.type : "--" }}
                                description: {{ strain.plasmyd|first ? strain.plasmyd|first.description : "--" }}
                                comment: {{ strain.plasmyd|first ? strain.plasmyd|first.comment : "--" }}'
                    >
                    {% if strain.plasmyd is not empty %}
                        {{strain.plasmyd[0].namePlasmyd}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="storage" data-info='
                                room: {{ strain.storage|first ? strain.storage|first.room: '--'}}
                                fridge: {{ strain.storage|first ? strain.storage|first.fridge : "--" }}
                                shelf: {{ strain.storage|first ? strain.storage|first.shelf : "--" }}
                                rack: {{ strain.storage|first ? strain.storage|first.rack : "--" }}
                                volume: {{ strain.storage|first ? strain.storage|first.volume : "--" }}
                                container type : {{ strain.storage|first ? strain.storage|first.containerType : "--" }}
                                container position : {{ strain.storage|first ? strain.storage|first.containerPosition : "--" }}'>
                    {% if strain.storage is not empty %}
                        room : {{strain.storage[0].room}} <br>
                        fridge:  {{strain.storage[0].fridge}} <br>
                        shelf:  {{strain.storage[0].shelf}} <br>
                        rack: {{strain.storage[0].rack}} <br>
                        volume: {{strain.storage[0].volume}} <br>
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="parent">{{ strain.parentStrain is not null ? strain.parentStrain.nameStrain : '--' }}</td>

                    <td class="project">
                    {% if strain.project is not empty %}
                        {{strain.project[0].name}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="collec">
                    {% if strain.collec is not empty %}
                        {{strain.collec[0].name}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="drugResistanceOnStrain" 
                        data-info='
                                name: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.drugResistance.name  : '--'}}
                                concentration: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.concentration : '--'}}
                                resistant: {{ strain.drugResistanceOnStrain|first ? (strain.drugResistanceOnStrain|first.resistant ? 'yes' : 'no') : '--' }}
                                comment: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.drugResistance.comment   : '--'}}
                                description: {{ strain.drugResistanceOnStrain|first ? strain.drugResistanceOnStrain|first.drugResistance.description  : '--'}}'
                    >
                    {% if strain.drugResistanceOnStrain is not empty %}
                        {{strain.drugResistanceOnStrain[0].drugResistance.name}} <br>
                        {{strain.drugResistanceOnStrain[0].concentration}}  
                        {% if strain.drugResistanceOnStrain[0].resistant == 1 %}
                            <a class="resistant-display-green">resistant : &#x2713;</a>
                        {% else %}
                            <a class="resistant-display-red">resistant : x</a>
                        {% endif %}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="transformability" data-info='
                                id: {{ strain.transformability|first ? strain.transformability|first.id : '--'}}
                                technique: {{ strain.transformability|first ? strain.transformability|first.technique : "--" }}
                                mesure: {{ strain.transformability|first ? strain.transformability|first.mesure : "--" }}
                                file: {{ strain.transformability|first ? strain.transformability|first.nom : "--" }}'
                                data-file='{{ strain.transformability|first ? strain.transformability|first.nom : '--'}}'>
                    {% if strain.transformability is not empty %}
                        {{strain.transformability[0].technique}} <br>
                        {{strain.transformability[0].mesure}}
                    {% else %}
                        --
                    {% endif %}
                    </td>
                    
                    <td class="sequencing" data-info='
                                method : {{ strain.methodSequencing|first ? strain.methodSequencing|first.name  : '--'}}
                                file : {{ strain.methodSequencing|first ? strain.methodSequencing|first.nameFile  : '--'}}'
                                data-file='{{ strain.methodSequencing|first ? strain.methodSequencing|first.nameFile : '--'}}'>
                    {% if strain.methodSequencing is not empty %}
                        {{ strain.methodSequencing[0].name }} <br>
                        {% set nameFile = strain.methodSequencing[0].nameFile ?: strain.methodSequencing[0].nameFile %}
                        {% set maxLength = 15 %}

                        {% if nameFile|length > maxLength %}
                            {% set prefix = nameFile|slice(0, 12) %}
                            {% set suffix = nameFile|slice(-10) %}
                            {{ prefix ~ '...' ~ suffix }}
                        {% else %}
                            {{ nameFile }}
                        {% endif %} <br>
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="publication" data-info='
                                id: {{ strain.publication|first ? strain.publication|first.id  : '--'}}
                                URL: {{ strain.publication|first   ? strain.publication|first.articleURL  : "--" }}
                                DOI: {{ strain.publication|first  ? strain.publication|first.DOI  : "--" }}
                                title: {{ strain.publication|first    ? strain.publication|first.title  : "--" }}
                                autor: {{ strain.publication|first    ? strain.publication|first.autor : "--" }}
                                year: {{ strain.publication|first  ? strain.publication|first.year  : "--" }}'>
                    {% if strain.publication is not empty %}
                        {{strain.publication[0].title}} <br>
                        {{strain.publication[0].autor}} <br>
                        {{strain.publication[0].year}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="createdBy">
                    {% if strain.createdByName is not null %}
                        {{strain.createdByName}}
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="description">
                    {% if strain.description is not null %}
                        {% set description = strain.description ?: strain.description %}
                        {% set maxLength = 10 %}

                        {% if description|length > maxLength %}
                            {% set prefix = description|slice(0, 8) %}
                            {{ prefix ~ '...'}}
                        {% else %}
                            {{ description }}
                        {% endif %} <br>
                    {% else %}
                        --
                    {% endif %}
                    </td>

                    <td class="comment">
                    {% if strain.comment is not null %}
                        {% set description = strain.description ?: strain.description %}
                        {% set maxLength = 10 %}

                        {% if description|length > maxLength %}
                            {% set prefix = description|slice(0, 8) %}
                            {{ prefix ~ '...'}}
                        {% else %}
                            {{ description }}
                        {% endif %} <br>
                    {% else %}
                        --
                    {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('duplicate_strain', {id: strain.id}) }}" class="button-crud" title="Dupliquer">
                            <i class="fa-solid fa-copy"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('edit_strain', {id: strain.id}) }}" class="button-crud" title="Modifier">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('delete_strain', {id: strain.id}) }}" class="button-crud" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer ?');">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td> 
                </tr>

                {% if (
                    strain.drugResistanceOnStrain is not empty or
                    strain.publication is not empty or
                    strain.transformability is not empty or
                    strain.methodSequencing is not empty or
                    strain.project is not empty or
                    strain.collec is not empty or 
                    strain.storage is not empty or
                    strain.plasmyd is not empty
                )%}

                    {% set maxLength = max(
                    strain.drugResistanceOnStrain|length,
                    strain.publication|length, 
                    strain.transformability|length, 
                    strain.methodSequencing|length,
                    strain.project|length,
                    strain.collec|length,
                    strain.storage|length,
                    strain.plasmyd|length
                    ) %}

                    {% if maxLength > 1 %} 
                        {% for i in 1..(maxLength - 1) %}
                            <tr>
                                {# Empty cells for ID, Name, Date, Specie, Gender, Sample in subsequent rows of a group #}
                                <td class="id"></td>
                                <td class="name"></td>
                                <td></td> {# Date #}
                                <td></td> {# Specie #}
                                <td></td> {# Gender #}
                                <td></td> {# Sample #}
                                <td></td> {# Genotype #}
                                <td class="plasmyd" 
                                    data-info='
                                            name: {{ strain.plasmyd[i] is defined and strain.plasmyd[i] ? strain.plasmyd[i].namePlasmyd : '--'}}
                                            type: {{ strain.plasmyd[i] is defined and strain.plasmyd[i] ? strain.plasmyd[i].type : "--" }}
                                            description: {{ strain.plasmyd[i] is defined and strain.plasmyd[i] ? strain.plasmyd[i].description : "--" }}
                                            comment: {{ strain.plasmyd[i] is defined and strain.plasmyd[i] ? strain.plasmyd[i].comment : "--" }}'
                                >
                                {{ strain.plasmyd[i] is defined ? strain.plasmyd[i].namePlasmyd : '' }}</td>
                                <td class="storage" 
                                    data-info='
                                            room: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].room: '--'}}
                                            fridge: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].fridge : "--" }}
                                            shelf: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].shelf : "--" }}
                                            rack: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].rack : "--" }}
                                            volume: {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].volume : "--" }}
                                            container type : {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].containerType : "--" }}
                                            container position : {{ strain.storage[i] is defined and strain.storage[i] ? strain.storage[i].containerPosition : "--" }}'
                                >
                                {{ strain.storage[i] is defined ? 'room : strain.storage[i].room' : '' }}<br>
                                {{ strain.storage[i] is defined ? 'fridge: strain.storage[i].fridge' : '' }} <br>
                                {{ strain.storage[i] is defined ? 'shelf: strain.storage[i].shelf' : '' }} <br>
                                {{ strain.storage[i] is defined ? 'rack: strain.storage[i].rack' : '' }} <br>
                                {{ strain.storage[i] is defined ? 'volume: strain.storage[i].volume' : '' }} <br>
                                </td>
                                <td></td> {# Parent #}
                                <td>{{ strain.project[i] is defined ? strain.project[i].name : '' }}</td>
                                <td>{{ strain.collec[i] is defined ? strain.collec[i].name : '' }}</td>
                                <td data-info='
                                        name: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? strain.drugResistanceOnStrain[i].drugResistance.name  : '--'}}
                                        concentration: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? strain.drugResistanceOnStrain[i].concentration : '--'}}
                                        resistant: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? (strain.drugResistanceOnStrain[i].resistant  ? 'yes' : 'no') : '--' }}
                                        comment: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? strain.drugResistanceOnStrain[i].drugResistance.comment  : '--'}}
                                        description: {{ strain.drugResistanceOnStrain[i] is defined and strain.drugResistanceOnStrain[i] ? strain.drugResistanceOnStrain[i].drugResistance.description  : '--'}}'
                                        data-file=
                                        ''>
                                {{ strain.drugResistanceOnStrain[i] is defined ? strain.drugResistanceOnStrain[i].drugResistance.name : '' }} <br>
                                {{ strain.drugResistanceOnStrain[i] is defined ? strain.drugResistanceOnStrain[i].concentration : '' }}
                                {% if strain.drugResistanceOnStrain[i] is defined %}
                                    {% if strain.drugResistanceOnStrain[i].resistant == 1 %}
                                        <a class="resistant-display-green"> resistant : &#x2713; </a>
                                    {% else %}
                                        <a class="resistant-display-red"> resistant : x </a>
                                    {% endif %}
                                {% endif %}
                                </td>
                                <td class="transformability" 
                                    data-info='
                                            id: {{ strain.transformability[i] is defined and strain.transformability[i] ? strain.transformability[i].id : '--'}}
                                            technique: {{ strain.transformability[i] is defined and strain.transformability[i] ? strain.transformability[i].technique : "--" }}
                                            mesure: {{ strain.transformability[i] is defined and strain.transformability[i] ? strain.transformability[i].mesure : "--" }}
                                            file: {{ strain.transformability[i] is defined and strain.transformability[i].nom ? strain.transformability[i].nom : "--" }}'
                                        data-file=
                                            '{{ strain.transformability|first ? strain.transformability[i].nom : '--'}}'>
                                {{ strain.transformability[i] is defined ? strain.transformability[i].technique : '' }} <br>
                                {{ strain.transformability[i] is defined ? strain.transformability[i].mesure : '' }}
                                </td>
                                <td class="sequencing" data-info='
                                        method : {{ strain.methodSequencing[i] is defined and strain.methodSequencing[i] ? strain.methodSequencing[i].name  : '--'}}
                                        file : {{ strain.methodSequencing[i] is defined and strain.methodSequencing[i] ? strain.methodSequencing[i].nameFile  : '--'}}'
                                        data-file='{{ strain.methodSequencing[i] is defined and strain.methodSequencing[i] ? strain.methodSequencing|first.nameFile : '--'}}'>
                                {{ strain.methodSequencing[i] is defined ? strain.methodSequencing[i].name : '' }} <br>
                                {% if strain.methodSequencing[i] is defined  %}
                                    {% set name = strain.methodSequencing[i].nameFile ?: strain.methodSequencing[i].nameFile %}
                                    {% set maxLength = 10 %}

                                    {% if name|length > maxLength %}
                                        {% set prefix = name|slice(0, 12) %}
                                        {% set suffix = nameFile|slice(-10) %}
                                        {{ prefix ~ '...' ~ suffix }}
                                    {% else %}
                                        {{ name }}
                                    {% endif %} <br>
                                {% else %}
                                    --
                                {% endif %}
                                </td>
                                <td data-info='
                                        id: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].id  : '--'}}
                                        URL: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].articleURL  : "--" }}
                                        DOI: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].DOI  : "--" }}
                                        title: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].title  : "--" }}
                                        autor: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].autor : "--" }}
                                        year: {{ strain.publication[i] is defined and strain.publication[i] ? strain.publication[i].year  : "--" }}'> 
                                {{ strain.publication[i] is defined ? strain.publication[i].title : '' }} <br>
                                {{ strain.publication[i] is defined ? strain.publication[i].autor : '' }} <br>
                                {{ strain.publication[i] is defined ? strain.publication[i].year : '' }}
                                </td>
                                <td></td> {# Creator #}
                                <td></td> {# Description #}
                                <td></td> {# Comment #}
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="infoPopup" class="hidden">
    <h3 id="popupTitle"></h3>
    <p id="popupDetails"></p>
    <a id="popupDownload" href="#" style="display: none; padding: 5px 10px; background: blue; color: white; text-decoration: none; border-radius: 5px;">
        Télécharger
    </a>
</div>


{########## DataTables ############}

<!-- CSS DataTables (version stable actuelle) -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.min.css" />

<!-- jQuery (doit être chargé AVANT DataTables JS) -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- JS DataTables (doit être après jQuery) -->
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.min.js"></script>



{# Ajout d'une règle CSS pour forcer la visibilité des colonnes gérée par DataTables #}
<style>
    #data-table th.dt-column-hidden,
    #data-table td.dt-column-hidden {
        display: none !important;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.getElementById('data-table');
        const rows = table.querySelectorAll('tbody tr');

        let currentStrainId = '', currentStrainName = '';

        // 1. Prétraitement : remplir cellules vides et propager ID/Souche
        for (const row of rows) {
            const idCell = row.querySelector('td.id');
            const nameCell = row.querySelector('td.name');

            if (idCell?.textContent.trim()) {
                currentStrainId = idCell.textContent.trim();
                currentStrainName = nameCell.textContent.trim();
            } else {
                idCell.textContent = currentStrainId;
                nameCell.textContent = currentStrainName;
            }

            const cells = row.querySelectorAll('td');
            const lastEditable = cells.length - 3;

            for (let i = 0; i < lastEditable; i++) {
                if (!cells[i].classList.contains('id') && !cells[i].textContent.trim()) {
                    cells[i].textContent = '--';
                }
            }
        }

        // 2. Initialisation DataTables (invisible au départ pour éviter reflows)
        table.style.visibility = 'hidden';

        const dataTable = $('#data-table').DataTable({
            paging: true,
            searching: false, //on utilisera notre recherche personalise par groupe
            ordering: true,
            info: true,
            order: [],
            columnDefs: [
                { orderable: false, targets: [19, 20, 21] }
            ],
            rowGroup: {
                dataSrc: 0,
                startRender: function (rows, group) {
                    const name = rows.data()[0][1];
                    return 'ID: ' + group + ' (Souche : ' + name + ')';
                }
            },
            initComplete: function () {
                const api = this.api();

                // 2a. Affichage table une fois prête
                table.style.visibility = 'visible';

                // 2b. Checkboxes pour colonne : application + événements
                document.querySelectorAll('input.toggle-column').forEach(checkbox => {
                    const colIdx = +checkbox.getAttribute('data-column');
                    api.column(colIdx).visible(checkbox.checked);

                    checkbox.addEventListener('change', function () {
                        api.column(colIdx).visible(this.checked);
                    });
                });

                // 2c. Gestion tri à 3 états : ascendant descendant et retour initial
                $('#data-table thead th').off('click.DT').on('click', function () {
                    const colIdx = $(this).index();
                    const currentOrder = api.order();
                    const currentColOrder = currentOrder.find(o => o[0] === colIdx);

                    $('#data-table thead th').removeClass('sorting_asc sorting_desc').addClass('sorting');

                    if (!currentColOrder) {
                        api.order([[colIdx, 'asc']]).draw();
                        $(this).removeClass('sorting').addClass('sorting_asc');
                    } else if (currentColOrder[1] === 'asc') {
                        api.order([[colIdx, 'desc']]).draw();
                        $(this).removeClass('sorting').addClass('sorting_desc');
                    } else {
                        api.order([]).draw();
                        $(this).removeClass('sorting_asc sorting_desc').addClass('sorting');
                    }
                });
            }
        });

        // 3. Recherche personnalisée par groupe (version sans pagination)
        const searchInput = document.getElementById('customSearch');
        if (searchInput) {
            searchInput.addEventListener('input', function () {
                const term = this.value.trim().toLowerCase();

                // Si le champ est vide, réactiver la pagination à 25
                if (term === '') {
                    dataTable.page.len(25).draw();

                    // Réafficher toutes les lignes
                    dataTable.rows().nodes().toArray().forEach(row => {
                        row.style.display = '';
                        const groupHeader = row.previousElementSibling;
                        if (groupHeader?.classList.contains('dtrg-group')) {
                            groupHeader.style.display = '';
                        }
                    });
                    return;
                }

                // Sinon, désactiver la pagination pour afficher toutes les lignes
                dataTable.page.len(-1).draw();

                const allRows = dataTable.rows().nodes().toArray();
                const groups = {};

                for (const row of allRows) {
                    const idCell = row.querySelector('td.id');
                    if (!idCell) continue;

                    const groupId = idCell.textContent.trim();
                    groups[groupId] ??= [];
                    groups[groupId].push(row);
                }

                for (const groupId in groups) {
                    const groupRows = groups[groupId];
                    const match = groupRows.some(row => {
                        return Array.from(row.querySelectorAll('td')).some((cell, idx) => {
                            if (idx >= cell.parentNode.cells.length - 3) return false;
                            return cell.textContent.toLowerCase().includes(term);
                        });
                    });

                    for (const row of groupRows) {
                        row.style.display = match ? '' : 'none';
                    }

                    const firstRow = groupRows[0];
                    if (firstRow) {
                        const groupHeader = firstRow.previousElementSibling;
                        if (groupHeader?.classList.contains('dtrg-group') && groupHeader.textContent.includes(groupId)) {
                            groupHeader.style.display = match ? '' : 'none';
                        }
                    }
                }
            });
        }



        // 4. Popups (info/fichier) pour le téléchargement et les bonnes directions
        const typeMap = {
            sequencing: 'sequencing',
            transformability: 'transformability',
            drugResistanceOnStrain: 'drugs'
        };

        document.querySelectorAll('td[data-info]').forEach(cell => {
            cell.addEventListener('click', event => {
                const info = cell.dataset.info;
                const fileName = cell.dataset.file;
                const popup = document.getElementById('infoPopup');
                const downloadLink = document.getElementById('popupDownload');

                let fileType = null;
                for (const cls in typeMap) {
                    if (cell.classList.contains(cls)) {
                        fileType = typeMap[cls];
                        break;
                    }
                }

                document.getElementById('popupTitle').innerText = 'Détails';
                document.getElementById('popupDetails').innerText = info;

                if (fileName && fileName !== '--' && fileType) {
                    downloadLink.href = `/public/docs/${fileType}/${fileName}`;
                    downloadLink.style.display = 'inline-block';

                    // Ajout de l'attribut download pour forcer le téléchargement
                    downloadLink.setAttribute('download', fileName);
                } else {
                    downloadLink.style.display = 'none';
                    downloadLink.removeAttribute('download');
                    downloadLink.removeAttribute('href');
                }

                popup.style.display = 'block';
                popup.style.left = `${event.pageX + 10}px`;
                popup.style.top = `${event.pageY + 10}px`;
            });
        });

        document.addEventListener('click', event => {
            const popup = document.getElementById('infoPopup');
            if (!popup.contains(event.target) && !event.target.closest('[data-info]')) {
                popup.style.display = 'none';
            }
        });
    });
</script>
